* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

    background: url("/New/img/admin-bg.png") center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 0;
}

.login-container {
    z-index: 1;
}

/* Login Box */
.login-box {
    width: 380px;
    padding: 35px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 35px rgba(0,0,0,0.4);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 5px;
    color: #0A3D62;
}

.subtitle {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 11px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background: #E74C3C;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background: #C0392B;
}

.forgot {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #555;
}

.forgot:hover {
    text-decoration: underline;
    color: black;
}
