body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #f1c40f, #f39c12);
    display: flex;
    justify-content: center;
    align-items: center;
        background-image: url(/New/img/parentbag.png);
    background-size: cover;
}

.login-box {
    /* background:white; */
    width: 360px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    color: #0c0c0b;
}

.subtitle {
    font-size: 14px;
    color: rgb(63, 61, 61);
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #58abf4;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #1d71e0;
}

.forgot {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #555;
}

.forgot:hover {
    color: #000;
    text-decoration: underline;
}

#msg {
    margin-top: 15px;
    font-size: 14px;
}
