body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #1e90ff, #2ecc71);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    width: 360px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    color: #0A3D62;
}

.subtitle {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0A3D62;
}

.login-btn {
    background: #2ecc71;
}

.login-btn:hover {
    background: #27ae60;
}

.otp-box {
    display: none;
}

#msg {
    margin-top: 15px;
    font-size: 13px;
    color: green;
}
